.header-text{
    font-size: 1.1em;
}

.left-nav a.nav-link{
    color: #343a40;
  }

.left-nav a.nav-link.active{
    color: #343a40;
    font-weight: bold;

}

.admin-button{
    font-size: 0.8em;
    height: fit-content;
}

.review-card .card-body{
    padding-top: 5px;
}